body {
  //Modal

  @media (max-width: 768px) {
    .modal__content {
      padding: 60px 50px;
      border-radius: 20px;
      z-index: 1008;
      max-width: 580px;
      height: 580px;
    }

    .modal__title {
      font-size: 40px;
      line-height: 48px;
      max-width: 335px;
      margin-bottom: 25px;
    }

    .modal__text {
      font-size: 16px;
      max-width: 420px;
      line-height: 24px;
      margin-bottom: 25px;
    }

    .modal__content-two {
      padding: 170px 50px;
      margin: 0 auto;
    }

    .modal-open__title {
      max-width: 420px;
    }
  }
}
