@use "./variables" as *;
@use "./mixins" as *;

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1008;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba($color-dark, 0.4);
    transition: opacity 0.3s ease;
  }

  &__content {
    position: relative;
    background-color: $color-white;
    font-family: $font-base;
    font-size: $font-medium;
    padding: 100px 50px;
    border-radius: 20px;
    z-index: 1008;
    max-width: 850px;
    width: 90%;
    // height: 700px;
    max-height: 90vh;
    margin: 0 auto;
    transform: translateY(-20px);
    opacity: 0;
    overflow-y: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;

    .modal.show & {
      transform: translateY(0);
      opacity: 1;
    }

    @include respond-to(tablet) {
      padding: 80px 25px;
      max-width: 580px;
      // height: 580px;

      height: 45vh;
    }

    @include respond-to(veryVerySmall) {
      height: 650px;
      height: 40vh;
    }
  }

  &-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: $font-xxxlarge;
    color: #afbc9a;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
  }

  &__title {
    text-align: center;
    margin: 0 auto 30px;
    width: 100%;
    max-width: 520px;
    font-size: $font-xxxxlarge;
    line-height: $line-xlarge;
    color: #436e10;

    @include respond-to(tablet) {
      font-size: $font-xxlarge;
      line-height: 48px;
      max-width: 290px;
      margin-bottom: 25px;
    }

    @include respond-to(verySmall) {
      font-size: $font-xxlarge;
      line-height: 48px;
      margin-bottom: 12px;
    }

    @include respond-to(veryVerySmall) {
      font-size: 29px;
      line-height: 30px;
      margin-bottom: 12px;
    }
  }

  &__text {
    text-align: center;
    margin: 0 auto 40px;
    max-width: 420px;
    font-weight: 300;
    font-size: $font-medium;
    line-height: $line-medium;
    color: $color-dark;

    @include respond-to(tablet) {
      font-size: 16px;

      line-height: 24px;
      margin-bottom: 25px;
    }

    @include respond-to(verySmall) {
      font-size: 14px;
      max-width: 420px;
      line-height: 20px;

      margin-bottom: 40px;
    }

    @include respond-to(veryVerySmall) {
      font-size: 14px;
      max-width: 720px;
      line-height: 20px;

      margin-bottom: 30px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .form__inputs {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0 auto 16px;
      width: 100%;
      max-width: 420px;

      .form__input {
        padding: 15px 24px;
        font-size: $font-medium;
        font-weight: 400;
        color: #6a745f;
        border: 1px solid #284a0033;
        border-radius: 50px;
      }

      // @include respond-to(veryVerySmall) {
      // }

      @include respond-to(verySmall) {
        gap: 10px;
        margin-bottom: 15px;
        .form__input {
          padding: 10px 15px;
          font-size: $font-medium;
          font-weight: 400;
          color: #6a745f;
          border: 1px solid #284a0033;
          border-radius: 50px;
        }
      }
    }
  }

  .checkbox-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
    width: 100%;
    max-width: 420px;
    cursor: pointer;
    margin-bottom: 20px;

    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 21px;
      height: 21px;
      border-radius: 6px;
      background: #fff;
      border: 1px solid $color-primary;
      position: relative;
      outline: none;
      cursor: pointer;
      margin-right: 8px;
      vertical-align: middle;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: 24px;
        height: 24px;
        border-radius: 8px;
        background: linear-gradient(to right, #85d926, #1ab142);
        z-index: -1;
        pointer-events: none;
      }

      &:checked {
        background: linear-gradient(to right, #85d926, #1ab142);

        &::after {
          content: "✓";
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          position: absolute;
          top: -1px;
          left: 4px;
          pointer-events: none;
        }
      }
    }

    span {
      font-size: 14px;
      font-weight: 300;
      color: #363d2d;
      line-height: 20px;

      @include respond-to(veryVerySmall) {
        font-size: 12px;
        line-height: 17px;
      }
    }

    @include respond-to(verySmall) {
      margin-bottom: 10px;
    }
  }

  .modal__content-two {
    padding: 200px 50px;
    text-align: center;
    margin: 0 auto;
  }

  .button-open-modal,
  .button-modal-close {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .button-open-modal {
    @include respond-to(veryVerySmallMobile) {
      padding: 15px 20px 17px;
      font-size: 12px;
      max-width: 420px;
      line-height: 20px;

      margin-bottom: 40px;
    }
  }

  .button-modal-close {
    margin: 0 auto;
  }

  &__content-two {
    padding: 200px 50px;
    margin: 0 auto;

    @include respond-to(tablet) {
      padding: 170px 50px;
      height: 544px;
    }
  }

  &-open__title {
    max-width: 540px;

    @include respond-to(tablet) {
      max-width: 420px;
    }
  }
}

//=====================================================

//Button

.button {
  padding: 15px 24px 17px;
  color: #fff;
  background: linear-gradient(to right, #85d926, #1ab142);
  border-radius: 50px;

  transition: all 0.4s ease;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to right, #87da2a, #20be4b);
  box-shadow: 0 2px 4px rgba(17, 17, 17, 0.2);
}
