$color-primary: #284a00;
$color-bg: #f2f7e9;
$color-bg-light: #ffffff80;
$color-burger-active: #e7f0d7;
$color-burger-span: #65893a;
$color-dark: #0a1201;
$color-hover: #d0e2b4;
$color-burger-bg: #ebf0e5;
$color-primary: #284a00;
$color-dark: #0a1201;
$color-light: #f2f7e9;
$color-hover: #d0e2b4;
$color-burger-bg: #ebf0e5;
$color-burger-line: #284a00;
$color-error: #ff0000;

$font-base: "Arial, sans-serif";
$font-verySmall: 12px;
$font-small: 13px;
$font-medium: 16px;
$font-large: 20px;
$font-xlarge: 24px;
$font-xxlarge: 36px;
$font-xxxlarge: 40px;
$font-xxxxlarge: 64px;

$line-small: 20px;
$line-base: 24px;
$line-medium: 28px;
$line-large: 48px;
$line-xlarge: 72px;

$breakpoints: (
  "desktop": 960px,
  "tablet": 768px,
  "mobile": 600px,
  "small": 530px,
  "verySmall": 466px,
);
