$color-primary: #284a00;
$color-bg: #f2f7e9;
$color-bg-light: #ffffff80;
$color-burger-active: #e7f0d7;
$color-burger-span: #65893a;

$font-base: "Arial, sans-serif";
$font-small: 13px;
$font-medium: 16px;
$font-large: 20px;

$break-desktop: 960px;
$break-tablet: 768px;
$break-mobile: 600px;
$break-small: 530px;
